body { background-color: #fff; color: #333; }

body, p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  text-align: center;
}


table      { border: outset 1pt; 
  border-collapse: separate;
  border-spacing: 0pt;
  width: 100%;
}


#product-list .list-line-even { background: #d7f5ff ; }
#product-list .list-line-odd  { background: #f2d8ff ; }
#product-list .cuentas  { text-align: left ; background: #fff9bd ; font-size: 75% }
#product-list .links  { text-align: center ; background: #ffffff ; font-size: 75%; border: outset 0pt }
#product-list .datos  { width: 70px ; font-size: 75%}
#product-list .datoscab  { width: 70px ; font-size: 75%}
#banner { background: #fff ; }
#banner .h1 {vertical-align: top;}
th { border: outset 1pt;
  text-align: center;
}

td { border: outset 1pt;
  text-align: right;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
