<!DOCTYPE html>
<html>
<head>
  <title>Perds</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery-1.5.1.min.js','jquery.jqplot.js','excanvas.js','jqplot.dateAxisRenderer.min.js','jqplot.canvasTextRenderer.min.js','jqplot.canvasAxisLabelRenderer.min.js','jqplot.categoryAxisRenderer.min.js','jqplot.barRenderer.min.js','jquery-ui-1.8.11.custom.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
